<a href="https://www.linkedin.com/in/i%C3%B1aki-noriega/">
    <img src="assets/linkedin-100x100.png" alt="imagen con enlace a linkedin">
</a>
<a href="https://github.com/ianoriega">
    <img src="assets/gitHub-100x100.png" alt="imagen con enlace a github">
</a>
<a href="https://api.whatsapp.com/send?phone=+5491169021342">
    <img src="assets/wasap-100x100.png" alt= "imagen con enlace a wasap">
</a>
<a href="mailto:iandresnoriega@gmail.com">
    <img src="assets/email-100x100.png" alt= "imagen con enlace a wasap">
</a>
