#contenedor
{
    width: 90%;  
    max-width: 1000px;
    height: 100%;
    max-height: 1000px;
    margin: auto;
}

#cabecera
{
    
    max-height: 250px;
    float: left;
}

#cuerpo
{
    margin-top: 5%;
    float:left;
}

#pie
{
    width: 100%;
    margin-top: 3%;
    float: left;
    height: 10%;
    max-height: 110px;
}
