<div id="caja">
    <div id="parrafos">
        <div class="mat-display-2">Estudiante de Programación en la UTN</div>
        <div class="mat-display-2">Desarrollador Full Stack Trainee C# .NET</div>
        
    </div>
    <button mat-raised-button color="primary" (click)="GetInfoPersonal()">Informacion personal </button>
    <button mat-raised-button color="primary"(click)="GetAcercaDeMi()"> Acerca de mi </button>
    <button mat-raised-button color="primary"(click)="GetConocimientos()"> Conocimientos </button>
    <button mat-raised-button color="primary"(click)="GetOtrasExp()"> Otras Experiencias </button>
    <mat-card id="info">
        <mat-card-content>
            <table>
                <tr *ngFor="let item of Info">
                    <td class="mat-display-1"id="texto">
                        {{item}}
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>

</div>
