#parrafos
{
    margin-top: 5%;
    
}

p
{
    font-family: monospace;
    font-size: 250%;
    margin-top: 3%;
    
}

button
{
    font-family: monospace;
    font-size: 15px;
    margin-right: 3rem;
    margin-top: 3%;
}

#info
{
    margin-top: 10px;
    width: 100%;
}

#texto
{
    font-family: monospace;
    font-size: 180%;
    font-style: inherit;

}


#caja
{
    margin-top: 1%;
    height: 100%;
}