#contenido
{
    width: 100%;
    max-width: 1000px;
}

.inaki
{
    border: rgb(0, 2, 8) 5px solid;
    border-radius: 20px;
    width: 100%;
    
    
}

#izquierda
{
    width: 30%; 
    margin-left: 1%;
    margin-top: 1%;
    float: left;
}

#derecha
{
    float:right;
    width: 60%;
    margin-top: 5%;
}

p
{
    
    font-size: 400%;
    font-family: monospace;
    margin-top: auto;
    
}